{% extends "base.html" %} <!-- vai trazer o base html para essa página-->
<!-- ira obre escrever o tiyulo do template base-->
{% block titulo %} 
Contato
{% endblock titulo %}

{% block conteudo %}
{% load static %}
<!--css-->
<link rel="stylesheet" href="{% static '/styles/csssobre/about.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--endcss-->
<!--body-->


<section class="sobre">



    <div class="about mt-4">
        <div class="container mt-4">
            <div class="row d-flex align-items-center">
            <div class="col-md-4 col-4">
                <img src="/static/IMG/patricia.png" alt="Patricia" class="img-fluid rounded">
            </div>
            <div class="col-md-8 col-8">
                <h2>Olá, eu sou Patrícia!</h2>
                <p>Transformo sua vida através da terapia:
                    encontre equilíbrio e bem-estar emocional.
                    Transformo sua vida através da terapia:
                    encontre equilíbrio e bem-estar emocional.
                </p>
                <a href="#"> 
                    <button type="button" id="butao"  class="btn btn-outline-light btn-sm">Entre em contato</button>
                </a>
            </div>
            </div>
        </div>



        <div class="container mt-4">
            <div class="row d-flex align-items-center">
            <div class="col-md-8 col-8">
                <h2>História</h2>
                <p>Sou Patrícia Furtado, psícologa especalista em Terapia
                    Cognitivo-Comportamental e Formada em Terapia do Esquema.
                    Minha missão é ajudar você a entender e transformar padrões
                    de pensamento e comportamento que afetam seu bem-estar.
                </p>
            </div>
            <div class="col-md-4 col-4">
                <img src="/static/IMG/Foto 4.jpeg" alt="Patricia" class="img-fluid rounded">
            </div>
            </div>
        </div>



        <div class="container mt-4">
            <div class="row d-flex align-items-center">
            <div class="col-md-4 col-4">
                <img src="/static/IMG/Foto 3.jpeg" alt="Patricia" class="img-fluid rounded">
            </div>
            <div class="col-md-8 col-8">
                <h2>Formação</h2>
                <p>Sou Patrícia Furtado, psícologa especalista em Terapia
                    Cognitivo-Comportamental e Formada em Terapia do Esquema.
                    Minha missão é ajudar você a entender e transformar padrões
                    de pensamento e comportamento que afetam seu bem-estar.
                </p>

            </div>
            </div>
        </div>


        <div class="container mt-4">
            <div class="row d-flex align-items-center">
            <div class="col-md-8 col-8">
                <h2>História</h2>
                <p>Sou Patrícia Furtado, psícologa especalista em Terapia
                    Cognitivo-Comportamental e Formada em Terapia do Esquema.
                    Minha missão é ajudar você a entender e transformar padrões
                    de pensamento e comportamento que afetam seu bem-estar.
                </p>
            </div>
            <div class="col-md-4 col-4">
                <img src="/static/IMG/Foto 1.jpeg" alt="Patricia" class="img-fluid rounded">
            </div>
            </div>
        </div>



        




    </div>

    


   



</section>
<!--endbody-->

{% endblock conteudo %}